---
sudo: required
dist: trusty

addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable

language: node_js
node_js:
  - "4"

cache:
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=default COVERAGE=true # Only log coverage from the default scenario
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  # Setup for Chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # Other setup
  - npm config set spin false
  - npm install -g bower

install:
  - npm install
  - bower install

script:
  - ember try $EMBER_TRY_SCENARIO test --skip-cleanup

after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
